@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  background-color: black;
  
}

.grid-container {
  display: grid;
  grid-template-columns: 44px 18rem 1fr;
  grid-template-rows: 37px 1fr 22px;
  grid-template-areas:
    "icons leftSide tabs"
    "icons leftSide window"
    "footer footer footer";
  height: 100vh; 
}

.icons {
  grid-area: icons;
}

.leftSide {
  grid-area: leftSide;
  border-left: 1px solid white;
}

.tabs {
  grid-area: tabs;
  border-bottom: 1px solid white;
}

.window {
  grid-area: window;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}


.footer {
  grid-area: footer;
  border: 1px solid white;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 30px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #f7f6f667; /* Color of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f7f6f667; /* Handle color on hover */
}

/* Firefox */
* {
  scrollbar-width: 30px;
  scrollbar-color: #ffffff94 #05050505;
}